.WENZI {
    color:aqua;
    font-size: 50px;
    background-color:purple;
    border: 1px solid black;
}

a {
    color:black;
    font-size:30px;
}

div {
    font-size:30px;
}

.WENZI2 {
    color: crimson;
    font-size: 50px;
    background-color:purple;
    border: 1px solid black;
}
